---
import Kostenrechner from "@/components/functional/Kostenrechner";
---

<section class="section bg-light">
  <div class="container">
    <!-- Section Header -->


    <!-- Kostenrechner Component -->
    <div data-aos="fade-up-sm" data-aos-delay="150">
      <Kostenrechner client:load />
    </div>
  </div>
</section>
